.main {
  &-top {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: var(--ion-card-background);
  }

  &-card {
    &-top {
      border-bottom: 1px solid var(--ion-color-step-200);
    }
    &-top,
    &-bottom {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 4rem;
      padding-bottom: 2rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-curr-flag-wrapper {
      position: absolute;
      top: 5px;
      left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      border: 1px solid var(--ion-color-step-100);
      background-color: var(--ion-color-step-200);
      padding: 0.2rem 0.5rem;
      border-radius: 1rem;
    }

    &-input {
      flex: 1;
      height: 3rem;
      margin-left: 0.5rem;
      display: flex;
      text-align: right;
      align-items: center;
      justify-content: flex-end;

      &-text {
        word-break: break-all;
        font-size: 1.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
