<div class="main-top">
  <div
    class="ion-activatable ripple-parent main-card-top"
    *ngIf="selectedTopCurrency$ | async as selectedTopCurrency"
    [routerDirection]="'root'"
    [routerLink]="['/currencies']"
    [queryParams]="{ selected: 'top' }"
  >
    <div class="main-card-curr-flag-wrapper">
      <div style="font-weight: 800; ">
        {{ selectedTopCurrency.short_code }}({{ selectedTopCurrency.symbol }})
      </div>
      <div>
        <ion-img
          *ngIf="selectedTopCurrency.flags.length > 0"
          style="width: 1.5rem; height: 1.5rem"
          [src]="selectedTopCurrency.flags[0].flag_url"
        >
        </ion-img>
      </div>
    </div>
    <ion-ripple-effect></ion-ripple-effect>
    <div class="main-card-input">
      <div class="main-card-input-text">
        {{ selectedTopValue$ | async }}
      </div>
    </div>
  </div>

  <div
    class="ion-activatable ripple-parent main-card-bottom"
    [routerDirection]="'root'"
    [routerLink]="['/currencies']"
    [queryParams]="{ selected: 'bottom' }"
    *ngIf="selectedBottomCurrency$ | async as selectedBottomCurrency"
  >
    <div class="main-card-curr-flag-wrapper">
      <div style="font-weight: 800; ">
        {{ selectedBottomCurrency.short_code }}({{
          selectedBottomCurrency.symbol
        }})
      </div>
      <div>
        <ion-img
          *ngIf="selectedBottomCurrency.flags.length > 0"
          style="width: 1.5rem; height: 1.5rem"
          [src]="selectedBottomCurrency.flags[0].flag_url"
        ></ion-img>
      </div>
    </div>
    <ion-ripple-effect></ion-ripple-effect>
    <div class="main-card-input">
      <div class="main-card-input-text">
        {{ selectedBottomValue$ | async }}
      </div>
    </div>
  </div>
</div>
