.currency {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    position: relative;
    padding-left: 1rem;
  }

  &-flag {
    position: relative;
    top: 2px;
  }
  &-name {
    font-size: 1.2rem;
    padding: 1.4rem 0;
    flex: 1;
  }
  &-code {
    font-size: 1rem;
    color: var(--ion-color-step-350);
    font-weight: bold;
    text-transform: uppercase;
  }
}
ion-item {
  --padding-start: 0px;
}
