.main {
  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;

    &-grid {
      flex: 1;
      display: grid;
      border-top: 0.5px solid var(--ion-color-step-200);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    &-icon {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 0.5rem;
      font-size: 1.2rem;
      padding: 1.2rem;
      ion-icon {
        font-size: 1.6rem;
      }

      &-switch {
        border-right: 0.5px solid var(--ion-color-step-200);
        color: var(--ion-color-primary);
      }

      &-danger {
        color: var(--ion-color-danger);
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }
    }

    &-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 2rem;

      ion-icon {
        font-size: 2rem;
      }
    }
  }
}
